@page "/index-post"

@inject UserProfileService UserSvc
@inject AppState AppState
@inject NavigationManager NavMgr
@inject IJSRuntime IJS
@inject IToastService toastService
@inject TrendingService TrendSvc
@inject PostService PostSvc

<main class="pt-5">

    <!-- Page header START -->
    <div class="py-5" style="background-image:url(assets/images/bg/06.jpg); background-position: center center; background-size: cover; background-repeat: no-repeat;">
        <div class="container">
            <div class="row justify-content-center py-5">
                <div class="col-md-6 text-center">
                    <!-- Title -->
                    <h1 class="text-white">Change your social presence.</h1>
                    <p class="mb-4 text-white">For who thoroughly her boy estimating conviction.</p>
                    <!-- Search form START -->
                    <div class="rounded position-relative">
                        <input @bind="Keyword" @onkeyup="KeyUp" class="form-control form-control-lg ps-5" type="search" placeholder="Search..." aria-label="Search">
                        <button @onclick="Search" class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y" type="button"><i class="bi bi-search fs-5 ps-1"> </i></button>
                    </div>
                    <!-- Search form END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page header END -->
    <!-- Container START -->
    <div class="py-5">
        <div class="container">

            <div class="row g-4">
                <div class="col-12">
                    <!-- Tab nav line START -->
                    <ul class="nav nav-tabs nav-tabs-white justify-content-center border-0">
                        <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab-1"> For you </a> </li>
                        @{
                            var count = 2;
                        }
                        @foreach (var item in ListTags)
                        {
                            <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-@(count++)"> @item </a> </li>
                        }

                    </ul>
                    <!-- Tab nav line START -->
                </div>
            </div>

            <div class="tab-content mb-0 pb-0">
                <!-- For you tab START -->
                <div class="tab-pane fade show active" id="tab-1">

                    <div class="row g-4">
                        @if (ListPost.Count <= 0)
                        {
                            <div class="my-sm-5 py-sm-5">
                                <i class="display-1 text-primary text-opacity-25 bi bi-card-text"> </i>
                                <h4 class="mt-2 mb-3 text-body">Nothing to see here</h4>
                                <button class="btn btn-primary-soft btn-sm" @onclick="BackToMain"> Back to Main </button>
                            </div>
                        }
                        else
                        {
                            var FilteredPost = string.IsNullOrEmpty(Keyword) ? ListPost : ListPost.Where(x => x.Message.Contains(Keyword));
                            foreach (var post in FilteredPost)
                            {
                                @if (post.PostType == PostTypes.ImagePost)
                                {
                                    <div class="col-sm-6 col-lg-4">
                                        <!-- Card feed item START -->
                                        <div class="card h-100">
                                            <!-- Card header END -->
                                            <img class="card-img-top" src="@post.ImageUrls" alt="Post">
                                            <!-- Card body START -->
                                            <div class="card-body">
                                                <!-- Info -->
                                                <a class="text-body" href="post-details/@post.Id">
                                                    @(
                                                        (MarkupString)post.Message.ParseURL().ParseUsername().ParseHashtag()
                                                        )
                                                </a>
                                                <!-- Feed react START -->
                                                <ul class="nav nav-stack flex-wrap small mt-3">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#!"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>(@post.PostLikes.Count.ToString("n0"))</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(@post.PostComments.Count.ToString("n0"))</a>
                                                    </li>
                                                    <!-- Card share action START -->
                                                    <li class="nav-item dropdown ms-sm-auto">
                                                        <a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(@post.Reposts.Count.ToString("n0"))
                                                        </a>
                                                        <!-- Card share action dropdown menu -->
                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction">
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
                                                            <li><hr class="dropdown-divider"></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- Card share action END -->
                                                </ul>
                                                <!-- Feed react END -->
                                            </div>
                                            <!-- Card body END -->

                                        </div>
                                        <!-- Card feed item END -->
                                    </div>
                                }
                                else if (post.PostType == PostTypes.VideoPost)
                                {
                                    <div class="col-sm-6 col-lg-4">
                                        <!-- Card feed item START -->
                                        <div class="card h-100">
                                            <!-- Card img -->
                                            <div class="overflow-hidden fullscreen-video w-100">
                                                <!-- HTML video START -->
                                                <div class="player-wrapper card-img-top overflow-hidden">
                                                    <video class="player-html" controls crossorigin="anonymous" poster="@post.Video?.ThumbnailUrl">
                                                        <source src="@(string.IsNullOrEmpty(post.VideoUrls)?"assets/images/videos/video-feed.mp4": post.VideoUrls)" type="video/mp4">
                                                    </video>
                                                </div>
                                                <!-- HTML video END -->
                                            </div>
                                            <!-- Card header END -->
                                            <!-- Card body START -->
                                            <div class="card-body">
                                                <!-- Info -->
                                                <a class="text-body" href="post-details/@post.Id">
                                                    @((MarkupString)post.Message.ParseURL().ParseUsername().ParseHashtag())
                                                </a>
                                                <!-- Feed react START -->
                                                <ul class="nav nav-stack small mt-3">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#!"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>(@post.PostLikes.Count.ToString("n0"))</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(@post.PostComments.Count.ToString("n0"))</a>
                                                    </li>
                                                    <!-- Card share action START -->
                                                    <li class="nav-item dropdown ms-sm-auto">
                                                        <a class="nav-link mb-0" href="#" id="cardShareAction8" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(@post.Reposts.Count.ToString("n0"))
                                                        </a>
                                                        <!-- Card share action dropdown menu -->
                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction8">
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
                                                            <li><hr class="dropdown-divider"></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- Card share action END -->
                                                </ul>
                                                <!-- Feed react END -->
                                            </div>
                                            <!-- Card body END -->
                                        </div>
                                        <!-- Card feed item END -->
                                    </div>
                                }
                            }
                            <!-- Loading button START -->
                            <div style="display:none;" class="col-12 text-center">
                                <button class="btn btn-primary mb-0" type="button">
                                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                    Loading
                                </button>
                            </div>
                            <!-- Loading button END -->
                        }
                    </div> <!-- Row END -->

                </div>
                <!-- For you tab END -->
                @{
                    count = 2;
                }
                @foreach (var items in ListTrending.Values)
                {   
                    var ListTrend = string.IsNullOrEmpty(Keyword) ? items : items.Where(x => x.Message.Contains(Keyword)).ToList();
                    <div class="tab-pane fade text-center" id="tab-@(count++)">
                        @if (ListTrend.Count <= 0)
                        {
                            <div class="my-sm-5 py-sm-5">
                                <i class="display-1 text-primary text-opacity-25 bi bi-card-text"> </i>
                                <h4 class="mt-2 mb-3 text-body">Nothing to see here</h4>
                                <button class="btn btn-primary-soft btn-sm" @onclick="BackToMain"> Back to Main </button>
                            </div>
                        }
                        else
                        {
                            foreach (var post in ListTrend)
                            {
                                @if (post.PostType == PostTypes.ImagePost)
                                {
                                    <div class="col-sm-6 col-lg-4">
                                        <!-- Card feed item START -->
                                        <div class="card h-100">
                                            <!-- Card header END -->
                                            <img class="card-img-top" src="@post.ImageUrls" alt="Post">
                                            <!-- Card body START -->
                                            <div class="card-body">
                                                <!-- Info -->
                                                <a class="text-body" href="post-details/@post.Id">
                                                    @(
                                                        (MarkupString)post.Message.ParseURL().ParseUsername().ParseHashtag()
                                                        )
                                                </a>
                                                <!-- Feed react START -->
                                                <ul class="nav nav-stack flex-wrap small mt-3">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#!"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>(@post.PostLikes.Count.ToString("n0"))</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(@post.PostComments.Count.ToString("n0"))</a>
                                                    </li>
                                                    <!-- Card share action START -->
                                                    <li class="nav-item dropdown ms-sm-auto">
                                                        <a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(@post.Reposts.Count.ToString("n0"))
                                                        </a>
                                                        <!-- Card share action dropdown menu -->
                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction">
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
                                                            <li><hr class="dropdown-divider"></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- Card share action END -->
                                                </ul>
                                                <!-- Feed react END -->
                                            </div>
                                            <!-- Card body END -->

                                        </div>
                                        <!-- Card feed item END -->
                                    </div>
                                }
                                else if (post.PostType == PostTypes.VideoPost)
                                {
                                    <div class="col-sm-6 col-lg-4">
                                        <!-- Card feed item START -->
                                        <div class="card h-100">
                                            <!-- Card img -->
                                            <div class="overflow-hidden fullscreen-video w-100">
                                                <!-- HTML video START -->
                                                <div class="player-wrapper card-img-top overflow-hidden">
                                                    <video class="player-html" controls crossorigin="anonymous" poster="@post.Video?.ThumbnailUrl">
                                                        <source src="@(string.IsNullOrEmpty(post.VideoUrls)?"assets/images/videos/video-feed.mp4": post.VideoUrls)" type="video/mp4">
                                                    </video>
                                                </div>
                                                <!-- HTML video END -->
                                            </div>
                                            <!-- Card header END -->
                                            <!-- Card body START -->
                                            <div class="card-body">
                                                <!-- Info -->
                                                <a class="text-body" href="post-details/@post.Id">
                                                    @((MarkupString)post.Message.ParseURL().ParseUsername().ParseHashtag())
                                                </a>
                                                <!-- Feed react START -->
                                                <ul class="nav nav-stack small mt-3">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#!"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>(@post.PostLikes.Count.ToString("n0"))</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(@post.PostComments.Count.ToString("n0"))</a>
                                                    </li>
                                                    <!-- Card share action START -->
                                                    <li class="nav-item dropdown ms-sm-auto">
                                                        <a class="nav-link mb-0" href="#" id="cardShareAction8" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(@post.Reposts.Count.ToString("n0"))
                                                        </a>
                                                        <!-- Card share action dropdown menu -->
                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction8">
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
                                                            <li><hr class="dropdown-divider"></li>
                                                            <li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- Card share action END -->
                                                </ul>
                                                <!-- Feed react END -->
                                            </div>
                                            <!-- Card body END -->
                                        </div>
                                        <!-- Card feed item END -->
                                    </div>
                                }
                            }

                            <!-- Loading button START -->
                            <div style="display:none;" class="col-12 text-center">
                                <button class="btn btn-primary mb-0" type="button">
                                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                    Loading
                                </button>
                            </div>
                            <!-- Loading button END -->
                        }
                    </div>
                }


            </div>
        </div>
    </div>
    <!-- Container END -->

</main>
@code {
    List<Post> ListPost = new();
    Dictionary<string, List<Post>> ListTrending = new();
    List<string> ListTags = new();
    string Keyword = string.Empty;
    string SelectedTag = string.Empty;

    int Tahun = DateHelper.GetLocalTimeNow().Year;

    public UserProfile SelUser { get; set; }
    string UserName { set; get; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    bool HasLogin = false;
    public void KeyUp(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            StateHasChanged();
        }
    }
    async Task SelectTag(string Tag = "Me")
    {
        this.SelectedTag = Tag == "Me" ? string.Empty : Tag;
        await Search();
    }

    async Task Search()
    {

        ListPost = PostSvc.GetMyTimeline(UserName);
        foreach (var tag in ListTags)
        {
            ListTrending[tag] = PostSvc.FindByTag(tag);
        }
    }
    protected override async Task OnInitializedAsync()
    {

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            SelUser = UserSvc.GetItemByUsernameFull(UserName);
            HasLogin = true;
        }
        ListTags = TrendSvc.GetTrendings(5);
        await Search();
    }

    async Task BackToMain()
    {
        NavMgr.NavigateTo("/");
    }
}
